

h1, h2, h3 {
  &.sidebar {
    font-family: $sideline-heading-font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-h2;
    text-transform: uppercase;
  }
}

.author {
  text-transform: uppercase;
}

.social-handle {
  font-size: $font-size-sm;
  font-family: $card-meta-font-family;
  font-weight: $font-weight-light;

  .fa-twitter {
    color: #00aced;
  }
}
.posted-on
  a {
  color: $orange;
}
.contributors {
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
  font-size: $font-size-h6;

  .by {
    font-weight: $font-weight-normal;
  }
}

.item-160x107,
.item-255x170,
.item-320x213,
.item-730x487-alt {
  h3, h4 {
    font-family: $subhead-font-family;
  }
}

.item-160x107,
.item-255x170 {
  .contributors {
    font-size: $card-meta-font-size-small;
    font-weight: $font-weight-light;
  }
}

.item-320x213,
.item-730x487-alt {
  h3, h4 {
    font-weight: $font-weight-extra-light;
  }
  .contributors,
  .by {
    font-size: $card-meta-font-size-small;
    font-weight: $font-weight-medium;
  }
  .excerpt {
    font-weight: $font-weight-light;
  }

}
.item-540x360-vertical {
  .item-content-container {
    max-width: 540px;
  }
}

.ad-300x250 {
  padding: 25px;
  max-width: 350px;
}

@include media-breakpoint-between(md,lg) {
  .ad-300x250  {
    padding: 0;
  }
}

#archive-wrapper {
  h1.page-title {
    font-size: $display1-size;
  }

}

#archive-wrapper,
#writer-wrapper  {
  h1.page-title {
    font-family: $subhead-font-family;
    font-weight: $font-weight-extra-light;
  }
}

#archive-wrapper,
#writer-wrapper,
#single-enhanced-wrapper {
  h2.sidelines,
  h2.page-title.sidelines,
  h3.page-title.sidelines-heading-only {
    font-family: $sideline-heading-font-family;
    text-transform: uppercase;
  }
}

#writer-wrapper  {
  .writer-description {
    font-size: $font-size-lg;
  }
}

#responsive-menu-pro-header {
  border-bottom: solid 1px $gray-light;
}

#single-wrapper,
#page-wrapper,
#archive-wrapper,
#wrapper-index,
#search-wrapper,
#writer-wrapper,
#single-enhanced-wrapper {
  padding-top: 5rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.homepage-sidebar,
.ad-container,
.ad-300x250,
.item-540x360-vertical    .item-content-container,
.item-540x360-horizontal  .item-content-container,
.item-730x487-vertical    .item-content-container,
.item-730x487-horizontal  .item-content-container,
.cover-story-image-wrapper .item-content-container {
  background-color: $gray-lightest;
}
.see-it-this-week {
  .item-730x487-vertical .item-content-container {
    background-color: $light-pink;
  }
}

.item-730x487-width {
  max-width: 730px;
}
.item-2000x1333-width {
  max-width: 2000px;
}

div.card-span-text {
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
}

span.category-label {
  display: inline-block;
  text-transform: uppercase;
  background-color: $yellow;
  font-size: $card-meta-font-size-small;
  min-height: 2em;
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
}

.current {
  h1 {
    font-family: $sideline-heading-font-family;
    font-weight: $font-weight-medium;
  }
  h3 {
    font-family: $subhead-font-family;
    font-weight: $font-weight-extra-light;
  }
  .current-icons {
    max-width: 10rem;
  }
}

.current-footer {
  font-family: $card-meta-font-family;
}

.inverse-color {
  background-color: $black;
  color: $white;
}


#single-enhanced-wrapper {
  #content {
    .caption {
        font-family: $card-meta-font-family;
        color: $orange;
        font-weight: $font-weight-light;
    }

    article {
      span.the-first-letter {
        display: inline-block;
        float: left;
        margin-top: 2.5rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
        line-height: 1rem;
      }

      h1.entry-title,
      span.the-first-letter {
        font-family: $headings-font-family;
        font-weight: $font-weight-normal;
        font-size: $display1-size;
      }
      span.byline {
        display: block;
      }



      blockquote {
        font-family: $card-meta-font-family;
        font-size: $blockquote-font-size;
        font-weight: $font-weight-bold;
        line-height: 1.2;
        max-width: 1140px;
        width: 100%;
        left: -5%;
        position: relative;
        margin-right: -5%;
        @include media-breakpoint-down(sm) {
          left: 0;
          margin-right: 0;
        }
      }

      .cover-story-image-wrapper {
        float: right;
        .issue-title {
          font-family: $card-meta-font-family;
          font-size: $card-meta-font-size-less-small;
          font-weight: $font-weight-medium;
          text-transform: uppercase;
        }
      }
      .item-540x360-in-post {
        max-width: 540px;
      }
    }
  }
}
/*
@include media-breakpoint-down(sm) {
  #single-enhanced-wrapper {
    blockquote {
      left: 0;
      margin-right: 0;
    }
  }
}*/
#single-wrapper,
#page-wrapper {
  #content {
    article {
      h1.entry-title {
        font-family: $subhead-font-family;
        font-weight: $font-weight-extra-light;
        font-size: $display4-size;
      }

      .updated-image:first-of-type {
        display: none;
      }

      .updated-image:first-of-type + em {
        display: none;
      }

      .entry-header {
        padding-top: 1em;
      }
      .entry-meta {
        padding-bottom: 1em;
      }
    }
  }
}

#wrapper-footer {
  background-color: $black;

  h1, h2, h3, h4, h5, h6, p, span, div, li > a {
    color: $white;
  }

  h2 {
    font-family: $sideline-heading-font-family;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }

  li,
  .site-info {
    font-size: $card-meta-font-size-small;
    font-family: $card-meta-font-family;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
}

.sidelines {
    overflow: hidden;
    text-align: center;
}

.sidelines:before,
.sidelines:after {
    background-color: $black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.sidelines:before {
    right: 0.5em;
    margin-left: -50%;
}
.sidelines:after {
    left: 0.5em;
    margin-right: -50%;
}

.mail-wrapper {
  border: 3px solid $black;
  .sidebar {
    display: table;
    margin: 0 auto;
    margin-top: -0.5em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    background-color: $white;
  }
  #mc_embed_signup {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    input.email {
      max-width: 100% !important;
    }
  }
  #mc-embedded-subscribe {
    background-color: $red;
    border-radius: 33px;
  }

}

.social-list {
  li {
    display: inline;
  }
}







