// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #ed302f !default; // city arts red
$orange: #a18967 !default; // city arts bronze
$yellow: #ffee33 !default; // city arts yellow
$green:  #b5dcd6 !default; // city arts green (current picky)
$blue:   #c6d9e3 !default; // city arts blue (current default)
$teal:   #eed6b9 !default; // city arts khaki (current in the know)
$pink:   #f5c6c0 !default; // city arts pink (current make my)
$purple: #2b294c !default; // city arts navy

// Create grayscale
$gray-dark:                 #d9d0c2 !default; // city arts bronze 40%
$gray:                      #e7e1d9 !default; // city arts bronze 25%
$gray-light:                #ece7e1 !default; // city arts bronze 20%
$gray-lighter:              #f1ede8 !default; // city arts bronze 15%
$gray-lightest:             #f6f3f0 !default; // city arts bronze 10%

// Reassign color vars to semantic color scheme
$brand-primary:             $black !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
/*
"ff-basic-gothic-sc-web-pro" font-weight: 300, 500
"alternate-gothic-no-2-d" font-weight: 400
"kepler-std-display" font-weight: 400
"ingra-condensed" font-weight: 200
"alda" font-weights: 300, 400
body copy = alda; h1, h2, h3 = ingra; h4 = alternate gothic; h5, h6 = ff-basic-gothic
*/
$body-color:    $black !default;

$font-family-sans-serif: "alda", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "alda", serif !default;
$font-family-monospace:  $font-family-sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-p: 1.5em;
$font-weight-p: 100;

$headings-font-family:    "kepler-std-display", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $black !default;

$article-heading-font-family: "ingra", Arial, "sans-serif";
$article-heading-font-weight: 200;
$article-heading-font-size-h1: 3.5rem;

$article-byline-font-family: "ff-basic-gothic";
$article-byline-font-weight: 500;
$article-byline-font-size: 1em;

$sideline-heading-font-family: "tk-alternate-gothic-no-2-d-n4";
$sideline-heading-font-size-h3: 2em;
$sideline-heading-font-weight: 700;

$item-320x213-font-family-h3: "tk-ingra-condensed-n2";
$item-320x213-font-weight-h3: 200;

$item-320x213-contributors-font-family: "tk-ff-basic-gothic-web-pro-n5";
$item-320x213-contributors-font-weight: 500;
$item-320x213-contributors-font-size: .7em;


/*
font-size: 40px;
font-family: "kepler-std-display", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-weight: normal;
margin-bottom: 0;
*/



