// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #ed302f !default; // city arts red
$orange: #a18967 !default; // city arts bronze
$yellow: #ffee33 !default; // city arts yellow
$green:  #b5dcd6 !default; // city arts green (current picky)
$blue:   #c6d9e3 !default; // city arts blue (current default)
$teal:   #eed6b9 !default; // city arts khaki (current in the know)
$pink:   #f5c6c0 !default; // city arts pink (current make my)
$purple: #2b294c !default; // city arts navy

// Create grayscale
$gray-dark:                 #d9d0c2 !default; // city arts bronze 40%
$gray:                      #e7e1d9 !default; // city arts bronze 25%
$gray-light:                #ece7e1 !default; // city arts bronze 20%
$gray-lighter:              #f1ede8 !default; // city arts bronze 15%
$gray-lightest:             #f6f3f0 !default; // city arts bronze 10%

// Reassign color vars to semantic color scheme
$brand-primary:             $black !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
/*
"ff-basic-gothic-web-pro" font-weight: 300, 500
"alternate-gothic-no-2-d" font-weight: 400
"kepler-std-display" font-weight: 400
"ingra-condensed" font-weight: 200
"alda" font-weights: 300, 400
body copy = alda; h1, h2, h3 = ingra; h4 = alternate gothic; h5, h6 = ff-basic-gothic
special h1 = kepler
*/

/*city arts colors */
$body-color:    $black;
$light-pink: #f9e1de;

/*city arts font faces */
$subhead-font-family: "ingra-condensed", Arial, "sans-serif";
$card-meta-font-family: "ff-basic-gothic-web-pro";
$sideline-heading-font-family: "alternate-gothic-no-2-d";

/*city arts font sizes */
$card-meta-font-size-small: .7em;
$font-size-p: 1.5em;

/* city arts font weights */
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;



/* misc overrides */
$font-family-sans-serif: "alda", "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      serif !default;
$font-family-monospace:  $font-family-sans-serif;
$font-family-base:       $font-family-sans-serif;

$headings-font-family:    "kepler-std-display", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
$headings-font-weight:    $font-weight-medium;
$headings-line-height:    1.1;
$headings-color:          $black;



