#page {
  padding-top: 4rem;
}

.wrapper {
  &:not(#wrapper-footer) {
    padding: 0;
  }
}

#wrapper-navbar {
  background-color: $white;
  width: 100%;
  height: 4.5rem;
  -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 4px 0px rgba(0,0,0,.1);
  box-shadow: 0 0 4px 0px rgba(0,0,0,.1);
  $nav-bar-slider-width: 250px;

  -webkit-transition:height 0.5s ease;
  -moz-transition:height 0.5s ease;
  -o-transition:height 0.5s ease;
  -ms-transition: height 0.5s;
  transition:height 0.5s ease;

  #cityarts-header-logo {
    width: 10rem;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    -ms-transition: width 0.7s;
    -o-transition: width 0.7s;
    transition: width 0.7s ease;
  }
  &.fixed {
    position: fixed;
    backface-visibility: hidden;
    z-index: 2;
  }

  &.shrink {
    height: 3.5rem;

    nav {
      padding-top: 0;

      #cityarts-header-logo {
          width: 8.8rem;
      }
    }
  }
  nav {

    padding-bottom: 0;
    -webkit-transition:padding-top 0.8s ease;
    -moz-transition:padding-top 0.8s ease;
    -o-transition:padding-top 0.8s ease;
    -ms-transition: padding-top 0.8s;
    transition:padding-top 0.8s ease;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;

    .hamburger {
      outline: none;
    }
    .navbar-toggler-icon {
      background-color: $black;
    }
    .navbar-brand {
      padding-top: .5rem;
      margin: 0;
    }
    .search-nav-button {
      padding: 1rem 0;
      text-align: center;

      &:hover {
        color: $red;
      }
    }
    .search-input-wrapper {
      display: none;

      input[type=text] {
        width: 100%;
        height: 2.5rem;
        color: $black;
        border: 2px solid $black;
        font-family: $font-family-sans-serif;
      }
      .input-group {
        flex-wrap: unset;
      }

    }
  }
}

#navbarNavDropdown {

  a {
    color: $white;
  }

  .nav-link  {
    font-family: $headings-font-family;
    font-size: $h4-font-size;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    padding: 0;
  }

  .sidebar-submenu-nav {
    a {
      font-family: $subhead-font-family;
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
      line-height: 1.4;
    }
  }


  .menu-cover-image {
    .title a {
    font-family: $card-meta-font-family;
    font-size: $card-meta-font-size-small;
    font-weight: bold;
    padding: .3rem .3rem;
    text-transform: uppercase;
    }
  }
  .menu-bottom-section {
    border-bottom: 3px solid $white;
  }
}

h1, h2, h3 {
  &.sidebar {
    font-family: $sideline-heading-font-family;
    font-weight: $font-weight-bold;
    font-size: $h2-font-size;
    text-transform: uppercase;
  }
}

#searchform {
  #s.search-box {
    color: $black;
    font-family: sans-serif;
    border-radius: 0 !important;
    box-shadow: none;
  }
  #searchsubmit {
    font-family: sans-serif;
    border-radius: 0 !important;
    padding: .5rem 1rem;
    height: 40px;
  }
}

.social-handle {
  font-size: $font-size-sm;
  font-family: $card-meta-font-family;
  font-weight: $font-weight-light;

  .fa-twitter {
    color: #00aced;
  }
}

.posted-on {
  display: inline-block;
  a {
    color: $orange;
  }
}

.contributors {
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
  font-size: $h6-font-size;
  display: inline-block;
  .by {
    font-weight: $font-weight-normal;
  }
}
.author {
  text-transform: uppercase;
}

.item-160x107,
.item-255x170,
.item-320x213,
.item-730x487-alt {
  h3, h4 {
    font-family: $subhead-font-family;
  }
}

.item-160x107,
.item-255x170 {
  .contributors {
    font-size: $card-meta-font-size-small;
    font-weight: $font-weight-light;
  }
}

.item-320x213,
.item-730x487-alt {
  h3, h4 {
    font-weight: $font-weight-extra-light;
  }
  .contributors,
  .by {
    font-size: $card-meta-font-size-small;
    font-weight: $font-weight-medium;
  }
  .excerpt {
    font-weight: $font-weight-light;
  }
}

.item-540x360-vertical {
  .item-content-container {
    max-width: 540px;
  }
}

.ad-300x250 {
  padding: 25px;
  max-width: 350px;
}

@include media-breakpoint-between(md,lg) {
  .ad-300x250  {
    padding: 0;
  }
}

#archive-wrapper {
  h1.page-title {
    font-size: $display1-size;
    @include media-breakpoint-down(sm) {
      font-size: $display4-size;
    }
  }
  &:not( .discipline-page ) {
    .category-label {
      display: none;
    }
  }
}

#archive-wrapper,
#writer-wrapper  {
  h1.page-title {
    font-family: $subhead-font-family;
    font-weight: $font-weight-extra-light;
    &.discipline-title {
      font-family: $headings-font-family;
    }
  }
}

#archive-wrapper,
#writer-wrapper,
#single-enhanced-wrapper,
#single-wrapper {
  h2.sidelines,
  h2.page-title.sidelines,
  h3.page-title.sidelines-heading-only {
    font-family: $sideline-heading-font-family;
    text-transform: uppercase;
  }
}

#writer-wrapper  {
  .writer-description {
    font-size: $font-size-lg;
  }
}


.homepage-sidebar,
.ad-container,
.ad-300x250,
.item-540x360-horizontal  .item-content-container,
.item-540x360-vertical  .inner-item-wrapper,
.item-730x487-vertical    .item-content-container,
.item-730x487-horizontal  .item-content-container,
.cover-story-image-wrapper .item-content-container {
  background-color: $gray-lightest;
}

.see-it-this-week {
  .item-730x487-vertical .item-content-container {
    background-color: $light-pink;
  }
}


.item-730x487-horizontal,
.item-730x487-vertical {
  min-width: 100%;
}

.item-730x487-vertical {
  max-width: 100%;
}

.item-730x487-width {
  max-width: 730px;
}
.item-2000x1333-width {
  max-width: 2000px;
}

div.card-span-text {
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
}

.page-template-calendar span.category-label.calendar-item {
    background-color: $calendar;
}

.page-template-calendar .see-it-this-week  span.category-label {
    background-color: $yellow;
}

.page-template-calendar .see-it-this-week {
  background-color: $calendar;
}

span.category-label {
  display: inline-block;
  text-transform: uppercase;
  background-color: $yellow;
  font-size: $card-meta-font-size-small;
  min-height: 2em;
  font-family: $card-meta-font-family;
  font-weight: $font-weight-medium;
}

.current {
  h1 {
    font-family: $sideline-heading-font-family;
    font-weight: $font-weight-medium;
  }
  h3 {
    font-family: $subhead-font-family;
    font-weight: $font-weight-extra-light;
  }
  .current-icons {
    max-width: 10rem;
  }
}

.current-text {
  font-family: $card-meta-font-family;
  font-weight: $font-weight-light;
}

.inverse-color {
  background-color: $black;
  color: $white;
}

.cover-story-350-wrapper {
  max-width: 350px;
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}

.arrow-left  {
  padding-right: 5px;
}
.arrow-right  {
  padding-left: 5px;
}

.issue-nav {
  white-space: nowrap;
}

.caption {
    font-family: $card-meta-font-family;
    color: $orange;
    font-weight: $font-weight-light;
}

span.byline {
  display: inline-block;
}

#single-enhanced-wrapper {
  article {
    span.the-first-letter {
      display: inline-block;
      float: left;
      margin-top: 2.5rem;
      padding-right: 1rem;
      padding-bottom: 2rem;
      line-height: 1rem;
    }

    h1.entry-title,
    span.the-first-letter {
      font-family: $headings-font-family;
      font-weight: $font-weight-normal;
      font-size: $display1-size;
    }

    h3.entry-excerpt {
      font-family: $headings-font-family;
      font-weight: $font-weight-medium;
    }

    blockquote {
      font-family: $card-meta-font-family;
      font-size: $blockquote-font-size;
      font-weight: $font-weight-bold;
      line-height: 1.2;
      max-width: 1140px;
      width: 100%;
      left: -5%;
      position: relative;
      margin-right: -5%;
      @include media-breakpoint-down(sm) {
        left: 0;
        margin-right: 0;
      }
    }

    .cover-story-image-wrapper {
      float: right;
      .issue-title {
        font-family: $card-meta-font-family;
        font-size: $card-meta-font-size-less-small;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
      }
    }
    .item-540x360-in-post {
      max-width: 540px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #single-enhanced-wrapper {
    blockquote {
      left: 0;
      margin-right: 0;
    }
  }

}

@media (max-width: 350px) {
  .ad-container {
    padding-left: 0;
    padding-right: 0;
  }
  .ad-300x250 {
    padding: 10px;
  }
}


.article-content {
  p {
    font-size: 1.25rem;
  }
}
article .article-content, article.page .entry-content {
	a {
	background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($orange,$orange);
	background-size: .05em 1px,.05em 1px,1px 1px; background-repeat: no-repeat,no-repeat,repeat-x;
	text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff; background-position: 0 95%,100% 95%,0 95%;
	}
	a:hover {
		text-decoration: none; background: $gray-light; background-position: 0 0; text-shadow: none;
	}
}
#single-wrapper,
#page-wrapper {
  #content {
    article {
      h1.entry-title {
        font-family: $subhead-font-family;
        font-weight: $font-weight-extra-light;
        font-size: $display4-size;
      }

      .entry-header {
        padding-top: 1em;
      }
      .entry-meta {
        padding-bottom: 1em;
      }
		h5, h6 {font-family: $card-meta-font-family}
    }
  }
}

#wrapper-footer {
  background-color: $black;

  h1, h2, h3, h4, h5, h6, p, span, div, li > a {
    color: $white;
  }

  h2 {
    font-family: $sideline-heading-font-family;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }

  li,
  .site-info {
    font-size: $card-meta-font-size-small;
    font-family: $card-meta-font-family;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }
}

.sidelines {
  overflow: hidden;
  text-align: center;
}

.sidelines:before,
.sidelines:after {
    background-color: $black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.sidelines:before {
    right: 0.5em;
    margin-left: -50%;
}
.sidelines:after {
    left: 0.5em;
    margin-right: -50%;
}

.mail-wrapper,
.calendar-sidebar {
  border: 3px solid $black;
  .sidebar {
    display: table;
    margin: 0 auto;
    margin-top: -0.5em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    background-color: $white;
  }

}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/
Further adapted for CA 9/2017
*/

#mc_embed_signup,
#mc_embed_signup-footer {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  input.email {
    max-width: 100% !important;
  }

  #mc-embedded-subscribe {
    max-width: 350px;
  }

  button,
  #mc-embedded-subscribe,
  #mc-embedded-subscribe-footer {
    font-family: sans-serif;
    background-color: $red;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    color: $white;
  }
}

.mc-field-group {
  display: inline-block;
}

#mc_embed_signup,
#mc_embed_signup-footer {
 input.email {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing:border-box;
    height:32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width:350px;
    vertical-align:top;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  label {
  padding-left: 15px;
  text-indent: -15px;
  }

  input[type='checkbox'] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  .clear {
    display: inline-block;
  }
}

#mc-embedded-subscribe,
#mc-embedded-subscribe-footer {
  font-size: 13px;
  border: none;
  letter-spacing: .03em;
  box-sizing:border-box;
  height:32px;
  line-height:32px;
  padding:0 18px;
  display: inline-block;
  margin: 0;
}

#mc_embed_signup,
#mc_embed_signup-footer {
  .button:hover {
   background-color:#777;
   cursor:pointer;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  div#mce-responses,
  div#mce-responses-footer {
    float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  div.response {
    margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  #mce-error-response,
  #mce-error-response-footer {
    display:none;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  #mce-success-response,
  #mce-success-response-footer {
    color:#529214; display:none;
  }
}

#mc_embed_signup,
#mc_embed_signup-footer {
  label.error {
    display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;
  }
}

@media (max-width: 768px) {
  #mc_embed_signup,
  #mc_embed_signup-footer {
    .clear {
      display: block;
      width: 100%;
    }
  }
  #mc_embed_signup {
    .button {
      width: 100%;
      margin:0;
    }
  }

  #mc_embed_signup-footer {
    .button {
      width: auto;
      margin:0;
    }
  }
}

.social-list {
  li {
    display: inline;
  }
}


/* slideout nav */

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: $black;
  color: $white;
}
.slideout-menu a {
  color: $white;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $white; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* calendar */
.item-list-div {
  padding-top: 75%;
  width: 100%;
}

.calendar-sidebar {
  .pink-background {
    background-color: $calendar;
  }
  article .article-content a,
  article.page .entry-content a,
  a {
    display: block;
    text-decoration: none !important;
    background-image: none !important;
    background-size: unset !important;
    background-position: unset !important;
    background-color: $calendar !important;
    border-bottom: 1px solid #fff !important;
    text-shadow: none !important;
    height: 3rem;
    line-height: 3rem;

  }
  a:hover {
    background-color: $white !important;
  }
}

/* promo */
.promo {
  font-size: 1.25rem;
  border-top: 2px solid $orange;
  .learn-more {
    font-family: $subhead-font-family;
    text-decoration:none;
    font-weight: 800;
    color:#d01b69;
  }
}



