
#archive-wrapper,
#wrapper-index {
  padding-top: 7em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.homepage-sidebar {
  background-color: lightgrey;
}

.large-item {
  background-color: lightgrey;
  margin-bottom: 1em;
  .item-content-container {
    padding: 1em;
  }
}
.category-label {
  margin-bottom: 1em;
  margin-top: 1em;
}
.category-label span{
  background-color: $yellow;
  padding: .3em;
}

#single-wrapper,
#page-wrapper {
  padding-top: 5.8rem;
  #content {
    padding: 0;
    margin: 0 auto;

    .row {
      margin: 0;

      #main {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
      }
    }

  article {
    .single-post-image-hero {
      height: auto;
      max-width: 100%;

      background-size: 100% auto;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: contain;
      background-position: top center;
    }
    .entry-header {
      display: inline-block;
    }
    .entry-content {
      margin: 0 auto;
      padding-top: 0;
    }
  }

  }
}
#wrapper-footer {
  background-color: #000;
  color: #fff;
}
.mceItem {
  display: none;
}
