.pum-theme-footer-theme .pum-container {
    @include media-breakpoint-down(sm) {
        padding: 5px !important;
    }
}

.popup {
    .popup-header {
        font-family: $headings-font-family;
        font-size: 1.75rem;
        line-height: 1.5;
        font-weight: $font-weight-medium;
        @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
            line-height: 1;
        }
    }
    .pop-body {
        @include media-breakpoint-down(sm) {
            padding: 1px;
        }
    }
    .cc-logos {
        display: block;
    }
    .button-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .red-button {
        font-family: $subhead-font-family;
        background-color: $red;
        font-weight: $font-weight-medium;
        line-height: $headings-line-height;
        font-size: 1.5rem;
        border-radius: 33px;
        -webkit-border-radius: 33px;
        -moz-border-radius: 33px;
        color: $white;
        text-align: center;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}
