<div id="responsive-menu-pro-header-bar-html" class="responsive-menu-pro-header-bar-item responsive-menu-pro-header-box">
    {{ options.header_bar_html_content|translate('header_bar_html_content')|shortcode }}
</div>