<div id="responsive-menu-pro-header-bar-search" class="responsive-menu-pro-header-bar-item responsive-menu-pro-header-box">
    <form action="{{ search_url }}" class="responsive-menu-pro-search-form" role="search">
        <input type="search" name="s" placeholder="{{ options.menu_search_box_text|translate('menu_search_box_text') }}" class="responsive-menu-pro-search-box">
    </form>
</div>