<div id="responsive-menu-pro-header-bar-title" class="responsive-menu-pro-header-bar-item responsive-menu-pro-header-box">

    {% if options.header_bar_logo_link|translate('header_bar_logo_link') %}
        <a href="{{ options.header_bar_logo_link|translate('header_bar_logo_link') }}">
    {% endif %}

    {{ options.header_bar_title|translate('header_bar_title') }}

    {% if options.header_bar_logo_link|translate('header_bar_logo_link') %}
        </a>
    {% endif %}

</div>